@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
* {
  font-family: "Rajdhani", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  width: 100%;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: "header" "nav" "main";
}

.grid-header {
  grid-area: "header";
}

.grid-nav {
  grid-area: "nav";
}

.grid-main {
  grid-area: "main";
}

.chart-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 5px;
}

.chart-btn h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 0.75rem;
}

.chart-list {
  display: flex;
  justify-content: space-between;
}

.chart-list button {
  list-style: none;
  margin: 5px 0 0 0;
  padding: 3px;
  border: none;
  background-color: #fff;
}
.chart-list button:first-child {
  padding: 5px;
  border-radius: 30px;
  background-color: #5fcf80;
  color: #fff;
}
.chart-list button:active {
  padding: 5px;
  border-radius: 30px;
  background-color: #5fcf80;
  color: #fff;
}

@keyframes hideshow {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes bell-wiggle {
  0% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}
#top-pfp {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-left: -20px;
}

.bell-icon {
  display: block;
  fill: #fff;
  margin-left: 25px;
}

svg:hover[class=bell-icon] {
  animation: 0.2s infinite ease-in-out bell-wiggle;
  animation-iteration-count: infinite;
}

svg:hover circle {
  animation: hideshow 3s ease-in-out;
  animation-iteration-count: infinite;
}

.nav-svg-icons {
  height: 50px;
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  fill: #fff;
  align-items: center;
  margin: auto;
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(3, auto);
    grid-template-areas: "header header", "nav main";
  }

  .grid-header {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
  }

  .grid-nav {
    width: 75px;
    height: auto;
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 5;
  }

  .grid-nav:nth-child(1n+1) {
    grid-column: 1;
  }

  .grid-main {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;
  }

  .nav-svg-icons {
    display: flex;
    flex-direction: column;
    max-width: 50px;
    height: auto;
  }

  svg[id^="#"] {
    margin-top: 20px;
  }
}
.top-container {
  color: #fff;
  background-color: #7477bf;
  height: 60px;
}

.vl {
  width: 1px;
  height: 35px;
  background-color: #939393;
  margin-left: 10px;
}

.top-container,
.left-top,
.right-top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.left-top,
.right-top {
  font-size: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-items: center;
}

#s-name {
  margin-left: 15px;
}

.grid-nav {
  background-color: #4d4c72;
}

.db-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.empty-db {
  background-color: #dededb;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid rgba(169, 169, 169, 0.614);
}

#db-title {
  font-size: 1rem;
  width: 110px;
  height: 50px;
  border-right: 1px solid rgba(169, 169, 169, 0.614);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.alert-banner {
  background-color: #7477bf;
  font-size: 0.75rem;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;
  height: 25px;
  border-radius: 5px;
  margin: 10px 30px 20px 25px;
}
.alert-banner p {
  margin: auto;
}

.line-chart,
.column-chart,
.donut-chart {
  width: 320px;
  height: 150px;
  outline: 1px solid red;
}

/* ============================================= */
/* Sub-Folder Imports */
/* ============================================= */

/*# sourceMappingURL=styles.css.map */
