@use "variables" as *;

// FLEXBOX
@mixin flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
@mixin flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

// GRID
@mixin grid-row {
  display: grid;
  gap: 0;
}

// TRAFFIC BUTTON
@mixin traffic-btn {
  padding: 5px;
  border-radius: 10px;
  background-color: #51b6c8;
}

// WIDTHS FOR CONTAINERS BASED ON MEDIA QUERIES
@mixin tablet {
  min-width: 768px;
}

@mixin desktop {
  min-width: 1024;
}

// MIXIN FOR SOCIAL STATUS
@mixin social-status {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  width: 90%;
  border: 1px solid $light-gray;
  border-radius: 5px;
  margin: 0 16px 15px 16px;
  fill: $light-purple;
  background-color: #c3c3c3a7;
}

@mixin hover {
  // & img:hover {
  //   filter: grayscale(98%);
  //   background-color: #aaaaaa8c;
  //   box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  //   outline: 1px solid black;
  // }
  &:hover {
    filter: saturate(2);
    background-color: #aaaaaa8c;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    outline: 1px solid black;
    transform: scale(1.05);
  }
}
@mixin input-shadow {
  &:hover {
    filter: saturate(2);
    background-color: #d4d4d48c;
    box-shadow: 2px 2px 5px black;
    outline: 1px solid black;
  }
}

// @mixin tablet-recent-activity {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   height: 95px;
//   width: 98%;
//   margin-left: 10px;
// }
