// Font Styles
$main-font: "Rajdhani", sans-serif;
$secondary-font: "Quicksand", sans-serif;
$header-font-size: 8px;
$para-font-size: 0.75rem;

// Colors
$light-purple: #7477bf;
$dark-purple: #4d4c72;
$light-gray: #c3c3c3;
$dark-gray: #939393;
$white: #fff;

// MEDIA QUERIES
$tablet: 768px;
$desktop: 1024px;
