// Font Styles
$main-font: "Rajdhani", sans-serif;
$secondary-font: "Quicksand", sans-serif;
$main-font-size: .5rem;

// Colors
$light-purple: #7477bf;
$dark-purple: #4d4c72;
$light-gray: #c3c3c3;
$dark-gray: #939393;
$white: #fff;

// Misc
