@use "../utilities" as *;

// TRAFFIC TITLE AND BUTTONS
.chart-btn {
  //   outline: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 5px;
  outline: 1px solid red;
}
.chart-btn h2 {
  font-family: $secondary-font;
  font-size: $para-font-size;
}
.chart-list {
  display: flex;
  justify-content: space-between;
}
.traffic-nav li {
  list-style: none;
  margin: 5px 0 0 0;
  padding: 3px;
  border: none;
}

.active {
  @include traffic-btn;
  color: $white;
}

// TRAFFIC NAV BUTTONS
.traffic-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
