@use "../utilities" as *;

// TRAFFIC TITLE AND BUTTONS
.chart-btn {
  //   outline: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 5px;
  outline: 1px solid red;
}
.chart-btn h2 {
  font-family: $secondary-font;
  font-size: $para-font-size;
}
.chart-list {
  display: flex;
  justify-content: space-between;
}
.traffic-nav li {
  list-style: none;
  margin: 5px 0 0 0;
  padding: 8px;
  border: none;
  cursor: pointer;
}

.active {
  @include traffic-btn;
  color: $white;
}

// TRAFFIC NAV BUTTONS
.traffic-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 10px 10px;
}

// NOTIFICATION DROPDOWN

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  height: 115px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  outline: 1px solid black;
  box-shadow: 1px 1px 10px $light-purple;
  color: $light-purple;
  /* PARAGRAPH INSIDE THE DROPDOWN*/
  & p {
    font-size: $para-font-size;
    padding: 0 0 2px 2px;
  }
  /* IMAGES INSIDE THE DROPDOWN BOX*/
  & img {
    margin: 4px;
  }
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}
