@use "../utilities" as *;
@use "animation";

#top-pfp {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-left: -20px;
}
.bell-icon {
  display: block;
  fill: $white;
  margin-left: 25px;
}

// *******NOTIFICATION PROMPT*******
.notif-picture1,
.notif-picture2 {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

svg:hover[class="bell-icon"] {
  animation: 0.2s infinite ease-in-out bell-wiggle;
  animation-iteration-count: infinite;
}

svg:hover circle {
  animation: hideshow 3s ease-in-out;
  animation-iteration-count: infinite;
}

.nav-svg-icons {
  height: 50px;
  width: 250px;
  @include flex-row;
  fill: $white;
  align-items: center;
  margin: auto;
}

.social-svg {
  margin: 10px;
  width: 80px;
  height: 80px;
}
.profile-image {
  border-radius: 50%;
}

.members img {
  margin-top: 20px;
}
