@use "../utilities" as *;

@media screen and (min-width: 768px) {
  .widget-container-full {
    width: 90vw;
  }
  .widget-container-half {
    width: 43vw;
  }
  .recent-karot {
    display: inline-block;
  }
  .grid-container {
    grid-template-columns: 75px repeat(3, auto);
    grid-template-areas: "header header" "nav main";
  }
  .grid-header {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  .grid-nav {
    width: 75px;
    height: auto;
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 5;
  }
  .grid-nav:nth-child(1n + 1) {
    grid-column: 1;
  }
  .grid-main {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;
  }

  .top-container {
    justify-content: end;
    padding-right: 10px;
  }
  #logo {
    margin-right: 29rem;
  }
  .vl {
    margin: 30px;
  }
  // SVG ICONS
  .nav-svg-icons {
    display: flex;
    flex-direction: column;
    max-width: 50px;
    height: auto;
    margin-top: 10px;
  }
  .home-icon,
  .bar-chart,
  .members-icon,
  .settings-icon {
    height: 50px;
  }
  svg[id^="#"] {
    margin-top: 20px;
  }

  // SOCIAL STATS HEADER
  .social-header {
    display: flex;
    flex-direction: row;
  }

  // DAILY AND MOBILE CHART STYLES

  .daily-mobile-chart {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .daily {
    border-right: 1px solid $light-gray;
    width: inherit;
  }
  .split-chart-lb {
    display: none;
  }
  .widget-container-half {
    padding-bottom: 20px;
  }
  .line-break1 {
    margin-top: 0;
  }

  // MEMBERS AND RECENT POSTS
  #h3-newMembers,
  #h3-recentActivity {
    text-align: left;
  }
  .members-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    align-items: center;
    padding-top: 20px;
  }
  .members {
    padding-left: 10px;
  }
  .members img {
    margin: 0;
  }

  .tq-line-break {
    margin-top: 15px;
  }

  .members-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 95px;
    width: 100%;
    margin-left: 10px;
    & p {
      align-self: flex-start;
    }
    & a {
      align-self: flex-start;
    }
  }
  .recent-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    width: 97%;
    align-items: center;
    margin: 0 auto;
    padding-top: 20px;
  }
  .recent-text {
    width: 98%;
    text-align: left;
    margin-left: 10px;
  }

  // MESSAGE FORM AREA
  .form-field,
  .message-area,
  .btn-send {
    width: 670px;
  }
  // MESSAGE SEND BUTTON

  // TOGGLE BUTTONS
  .switch-light.switch-ios {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  // SETTINGS TIMEZONE, SAVE AND CANCEL BUTTONS
  .settings-toggle,
  h3 {
    margin: 10px;
  }
  .time-field {
    width: 95%;
  }
  .btn-save,
  .btn-cancel {
    width: 45%;
    margin: auto;
  }
  .settings-button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

// ***********DESKTOP MEDIA QUERY*********** \\
@media screen and (min-width: 1024px) {
  #logo {
    margin-right: 45rem;
  }
  .widget-container-full {
    width: 92vw;
  }
  .widget-container-half {
    width: 45vw;
  }
  .widget #logo {
    margin-right: 700px;
  }
  .line-break2 {
    margin: 0;
  }
  .daily {
    margin: 0;
  }
  #h3-newMembers,
  #h3-recentActivity {
    text-align: left;
  }

  .members-container,
  .recent-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    border-bottom: 1px solid $light-gray;
    align-items: flex-start;
    padding: 0 10px;
  }
  .members-container {
    border-right: 1px solid $light-gray;
  }

  .members-recent {
    display: flex;
    flex-direction: row;
  }
  #h3-recent {
    margin-bottom: 14px;
  }
  .line-break,
  .line-break3,
  .line-break4 {
    display: none;
  }
  .message-settings {
    display: flex;
    flex-direction: row;
  }
  .message {
    padding: 0 10px;
    border-right: 1px solid $light-gray;
  }
  .form-field,
  .message-area,
  .btn-send {
    width: 453px;
  }
  .settings {
    width: 472px;
  }
  .email-toggle {
    margin-top: 50px;
  }
  .profile-toggle {
    margin-top: 30px;
    margin-bottom: 85px;
  }
}
