@use "../utilities" as *;

// Imports of fonts
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

// FONT STYLES

// BASE STYLES
* {
  font-family: $main-font;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.grid-container {
  display: grid;
  width: 100%;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: "header" "nav" "main";
}
.grid-header {
  grid-template-areas: "header";
}
.grid-nav {
  grid-template-areas: "nav";
}
.grid-main {
  grid-template-areas: "main";
}

a {
  cursor: pointer;
}
